<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <h1>Home</h1>
  <p>Welcome to the homepage</p>
  <a href="/register">Register</a> | <a href="/login">Login</a>
</body>
</html>
